In [1]:
import pandas as pd

In [2]:
df_pools = pd.read_csv('../data/raw/pool_list_complete.csv')
df_pool_events = pd.read_csv('../data/raw/eventos_pool_sync_mint_burn.csv')
df_tokens_metadata = pd.read_csv('../data/raw/token_metadata_complete.csv')
df_token_transfers = pd.read_csv('../data/raw/eventos_transfers_tokens.csv')

In [3]:
df_pools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pair_address      998 non-null    object
 1   token0            998 non-null    object
 2   token1            998 non-null    object
 3   creation_time     998 non-null    object
 4   block_number      998 non-null    int64
 5   transaction_hash  998 non-null    object
 6   token0_decimals   998 non-null    int64
 7   token1_decimals   998 non-null    int64
 8   sync_count        998 non-null    int64
 9   transfer_count    998 non-null    int64
 10  burn_count        998 non-null    int64
 11  mint_count        998 non-null    int64
 12  pair              998 non-null    object
 13  estrato           998 non-null    object
 14  token_address     998 non-null    object
 15  pool_creator      998 non-null    object
dtypes: int64(7), object(9)
memory usage: 124.9+ KB

In [4]:
df_pool_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1835994 entries, 0 to 1835993
Data columns (total 10 columns):
 #   Column                   Dtype
---  ------                   -----
 0   event_type               object
 1   pair_address             object
 2   sender                   object
 3   to_address               object
 4   amount0_or_reserve0_hex  object
 5   amount1_or_reserve1_hex  object
 6   block_timestamp          object
 7   block_number             int64
 8   transaction_hash         object
 9   log_index                int64
dtypes: int64(2), object(8)
memory usage: 140.1+ MB

In [5]:
df_tokens_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   token_address             998 non-null    object
 1   token_creator             998 non-null    object
 2   token_creation_tx         998 non-null    object
 3   token_creation_block      998 non-null    int64
 4   token_creation_timestamp  998 non-null    object
dtypes: int64(1), object(4)
memory usage: 39.1+ KB

In [7]:
df_token_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8717043 entries, 0 to 8717042
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   token_address     object
 1   from_address      object
 2   to_address        object
 3   value             object
 4   transaction_hash  object
 5   block_timestamp   object
 6   block_number      int64
 7   log_index         int64
dtypes: int64(2), object(6)
memory usage: 532.0+ MB

In [12]:

# Verifica los primeros Sync events
sync_events = df_pool_events[df_pool_events['event_type'] == 'sync'].head(5)
print(sync_events[['pair_address', 'amount0_or_reserve0_hex', 'amount1_or_reserve1_hex']])

# Verifica un pool específico

print(df_pools[['pair_address', 'token0', 'token1', 'token_address']].head(5))

                                 pair_address  \
0  0xbb2b8038a1640196fbe3e38816f3e67cba72d940
2  0xbb2b8038a1640196fbe3e38816f3e67cba72d940
3  0xbb2b8038a1640196fbe3e38816f3e67cba72d940
4  0xbb2b8038a1640196fbe3e38816f3e67cba72d940
6  0xbb2b8038a1640196fbe3e38816f3e67cba72d940

                             amount0_or_reserve0_hex  \
0  0x00000000000000000000000000000000000000000000...
2  0x00000000000000000000000000000000000000000000...
3  0x00000000000000000000000000000000000000000000...
4  0x00000000000000000000000000000000000000000000...
6  0x00000000000000000000000000000000000000000000...

                             amount1_or_reserve1_hex
0  0x00000000000000000000000000000000000000000000...
2  0x00000000000000000000000000000000000000000000...
3  0x00000000000000000000000000000000000000000000...
4  0x00000000000000000000000000000000000000000000...
6  0x00000000000000000000000000000000000000000000...
                                 pair_address  \
0  0x78a8805acf5d1a7b28a83d79bccda0def40b4335
1  0xa5ffe698f774ef96871a9641ff2b56b8ab97fc12
2  0x7e47c5c0fe5838e9c29735923547b388bf95b7b7
3  0xe5c1ad5f6f3f051cccebf9236e712dd1bf45b61a
4  0xe89052e63a5914ed4fb5e5b7d507c36b8b7a4386

                                       token0  \
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
1  0x219865b49bea3a1638084cd1e8c6c87e36de308f
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
4  0x81835d805d3b4baeaf31655ee62fa6b7cafdb599

                                       token1  \
0  0xebf919584021075d3f7bf3d6cf1c6dc318221eff
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
2  0xfa235907a2705f3b55b222b29bb4637549fd3d28
3  0xcccdb294b52fc00051bf694fc798efee33bc0358
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2

                                token_address
0  0xebf919584021075d3f7bf3d6cf1c6dc318221eff
1  0x219865b49bea3a1638084cd1e8c6c87e36de308f
2  0xfa235907a2705f3b55b222b29bb4637549fd3d28
3  0xcccdb294b52fc00051bf694fc798efee33bc0358
4  0x81835d805d3b4baeaf31655ee62fa6b7cafdb599

In [11]:
df_pool_events[df_pool_events['event_type'] == 'sync'].head()

,event_type,pair_address,sender,to_address,amount0_or_reserve0_hex,amount1_or_reserve1_hex,block_timestamp,block_number,transaction_hash,log_index
0,sync,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,NaN,NaN,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,2020-05-18 16:43:42+00:00,10091132,0xb0e2a42e44c9d809841fc8517e5e02425db2a9f3e7a5...,57
2,sync,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,NaN,NaN,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,2020-05-18 17:45:15+00:00,10091412,0x3753b59220cf80559c7d5e90f6dec6231626d689bb38...,116
3,sync,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,NaN,NaN,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,2020-05-18 17:51:29+00:00,10091436,0x79d67b62bd303f45ab9127c92e03f1f284365e8cfdcf...,44
4,sync,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,NaN,NaN,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,2020-05-18 17:52:48+00:00,10091445,0xf756921c6d7df7f2acc6d1ab52a7133239abe65f3a50...,61
6,sync,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,NaN,NaN,0x00000000000000000000000000000000000000000000...,0x00000000000000000000000000000000000000000000...,2020-05-18 18:03:43+00:00,10091498,0xece9a3b2491884322589ea221381adb506711b671d7e...,10

In [13]:
# 1. Conteo de eventos por tipo
print("Eventos por tipo:")
print(df_pool_events['event_type'].value_counts())

# 2. Convierte un reserve de hex a decimal para verificar
reserve0_hex = sync_events.iloc[0]['amount0_or_reserve0_hex']
reserve1_hex = sync_events.iloc[0]['amount1_or_reserve1_hex']

reserve0_decimal = int(reserve0_hex, 16)
reserve1_decimal = int(reserve1_hex, 16)

print(f"\nEjemplo de conversión:")
print(f"Reserve0 hex: {reserve0_hex}")
print(f"Reserve0 decimal: {reserve0_decimal}")
print(f"Reserve1 hex: {reserve1_hex}")
print(f"Reserve1 decimal: {reserve1_decimal}")

# 3. Verifica estructura de pools_metadata
print("\nPrimeros pools con decimals:")
print(df_pools[['pair_address', 'token0', 'token1', 'token0_decimals', 'token1_decimals', 'token_address']].head())

# 4. Identifica cuál token es wETH en cada pool
WETH_ADDRESS = '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
df_pools['weth_is_token0'] = df_pools['token0'].str.lower() == WETH_ADDRESS.lower()
df_pools['weth_is_token1'] = df_pools['token1'].str.lower() == WETH_ADDRESS.lower()

print("\nPools con wETH:")
print(df_pools[['pair_address', 'weth_is_token0', 'weth_is_token1']].head())
print(f"\nPools con wETH como token0: {df_pools['weth_is_token0'].sum()}")
print(f"Pools con wETH como token1: {df_pools['weth_is_token1'].sum()}")

Eventos por tipo:
event_type
sync    1755374
mint      51078
burn      29542
Name: count, dtype: int64

Ejemplo de conversión:
Reserve0 hex: 0x0000000000000000000000000000000000000000000000000000000000a7a01c
Reserve0 decimal: 10985500
Reserve1 hex: 0x0000000000000000000000000000000000000000000000003bacb3b6b7fc37b1
Reserve1 decimal: 4300009341584160689

Primeros pools con decimals:
                                 pair_address  \
0  0x78a8805acf5d1a7b28a83d79bccda0def40b4335
1  0xa5ffe698f774ef96871a9641ff2b56b8ab97fc12
2  0x7e47c5c0fe5838e9c29735923547b388bf95b7b7
3  0xe5c1ad5f6f3f051cccebf9236e712dd1bf45b61a
4  0xe89052e63a5914ed4fb5e5b7d507c36b8b7a4386

                                       token0  \
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
1  0x219865b49bea3a1638084cd1e8c6c87e36de308f
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
4  0x81835d805d3b4baeaf31655ee62fa6b7cafdb599

                                       token1  token0_decimals  \
0  0xebf919584021075d3f7bf3d6cf1c6dc318221eff               18
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2               18
2  0xfa235907a2705f3b55b222b29bb4637549fd3d28               18
3  0xcccdb294b52fc00051bf694fc798efee33bc0358               18
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2               18

   token1_decimals                               token_address
0               18  0xebf919584021075d3f7bf3d6cf1c6dc318221eff
1               18  0x219865b49bea3a1638084cd1e8c6c87e36de308f
2               18  0xfa235907a2705f3b55b222b29bb4637549fd3d28
3               18  0xcccdb294b52fc00051bf694fc798efee33bc0358
4               18  0x81835d805d3b4baeaf31655ee62fa6b7cafdb599

Pools con wETH:
                                 pair_address  weth_is_token0  weth_is_token1
0  0x78a8805acf5d1a7b28a83d79bccda0def40b4335            True           False
1  0xa5ffe698f774ef96871a9641ff2b56b8ab97fc12           False            True
2  0x7e47c5c0fe5838e9c29735923547b388bf95b7b7            True           False
3  0xe5c1ad5f6f3f051cccebf9236e712dd1bf45b61a            True           False
4  0xe89052e63a5914ed4fb5e5b7d507c36b8b7a4386           False            True

Pools con wETH como token0: 253
Pools con wETH como token1: 745